<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
  <title>Plant Disease Predictor</title>
  <script>
    import {
      Ripple,
      initTE,
    } from "tw-elements";

    initTE({ Ripple });

  </script>
</head>

<body>
  <div>

    <!-- Section: Design Block -->
    <section class="mb-40">
      <nav style="background-color: rgba(0, 0, 0);" id="navbar">
        <a href="main.html" class="logo" style="float: left;">
          <img style="background-color: black;" src="{{ url_for('static', filename='chip.png') }}" alt="Carol Rocha">
          <span style="color: azure;">LeafScan</span>
        </a>

        <ul style="list-style: none; display: flex; justify-content: flex-end; margin: 0;">
          <li>
            <a href="main.html" style="color: azure; margin-left: 15px;" class="nav-link">Home</a>
          </li>
          <li>
            <a href="#upload" style="color: azure; margin-left: 15px;" class="nav-link">Upload</a>
          </li>
          <li>
            <a href="#" style="color: azure; margin-left: 15px;" class="nav-link">About</a>
          </li>
        </ul>
      </nav>
      <svg style="background-color: black;" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" class="absolute block w-full" style="margin: auto; z-index: -10;"
        height="680" preserveAspectRatio="none" viewBox="0 0 1920 880">
        <g transform="translate(960,440) scale(1,1) translate(-960,-440)">
          <linearGradient id="lg-0.047955344060927496" x1="0" x2="1" y1="0" y2="0">
            <stop stop-color="hsl(121, 27%, 33.7%)" offset="0"></stop>
            <stop stop-color="hsl(120, 90%, 75.1%)" offset="1"></stop>
          </linearGradient>
          <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
            <animate attributeName="d" dur="33.333333333333336s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1"
              calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="0s"
              values="M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z;M0 0L 0 877.6839081951588Q 320 668.0720922803877  640 649.0018928349388T 1280 328.7087077664202T 1920 162.95038242563396L 1920 0 Z;M0 0L 0 724.9886210051687Q 320 661.4364572061575  640 623.2173947479624T 1280 359.20353038907734T 1920 135.51673041732283L 1920 0 Z;M0 0L 0 804.2328934685746Q 320 597.3613372284876  640 571.0708916590191T 1280 512.0661063245175T 1920 301.8788007488083L 1920 0 Z">
            </animate>
          </path>
          <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
            <animate attributeName="d" dur="33.333333333333336s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1"
              calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-6.666666666666667s"
              values="M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z;M0 0L 0 842.1984196370487Q 320 570.6690721707517  640 540.6844954979398T 1280 439.92879442880593T 1920 200.29713960445451L 1920 0 Z;M0 0L 0 796.6802345094818Q 320 721.9216894353016  640 696.8815669355181T 1280 373.6367381440213T 1920 196.63169821789495L 1920 0 Z;M0 0L 0 765.7607191473613Q 320 641.7853945676919  640 624.2534689988059T 1280 365.27264408032966T 1920 190.38947978522663L 1920 0 Z">
            </animate>
          </path>
          <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
            <animate attributeName="d" dur="33.333333333333336s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1"
              calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-13.333333333333334s"
              values="M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z;M0 0L 0 821.0401780336218Q 320 670.8690783540507  640 637.0744123031742T 1280 456.40745286432224T 1920 278.1294357804296L 1920 0 Z;M0 0L 0 744.0534225112256Q 320 637.6425395409125  640 593.2079605185819T 1280 457.03995196824286T 1920 254.87693899994804L 1920 0 Z;M0 0L 0 801.7562714943509Q 320 634.0247183381232  640 605.7090791951217T 1280 503.9393370140325T 1920 224.7551247480177L 1920 0 Z">
            </animate>
          </path>
          <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
            <animate attributeName="d" dur="33.333333333333336s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1"
              calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-20s"
              values="M0 0L 0 817.8603658675457Q 320 592.9404308081629  640 559.1126621853513T 1280 428.9912604821798T 1920 209.017381620229L 1920 0 Z;M0 0L 0 802.0504889976935Q 320 561.3963273210122  640 537.6024084387631T 1280 430.41283267566695T 1920 256.1972069733954L 1920 0 Z;M0 0L 0 789.4448177495887Q 320 561.9675446430498  640 531.6192318019404T 1280 414.76018143244175T 1920 265.9163329632971L 1920 0 Z;M0 0L 0 817.8603658675457Q 320 592.9404308081629  640 559.1126621853513T 1280 428.9912604821798T 1920 209.017381620229L 1920 0 Z">
            </animate>
          </path>
          <path d="" fill="url(#lg-0.047955344060927496)" opacity="0.4">
            <animate attributeName="d" dur="33.333333333333336s" repeatCount="indefinite" keyTimes="0;0.333;0.667;1"
              calcmod="spline" keySplines="0.2 0 0.2 1;0.2 0 0.2 1;0.2 0 0.2 1" begin="-26.666666666666668s"
              values="M0 0L 0 844.0541574423102Q 320 623.0697081316591  640 592.8483890737847T 1280 469.85448734523794T 1920 190.81850676853674L 1920 0 Z;M0 0L 0 871.4928294956283Q 320 618.9784567388518  640 593.1183717103518T 1280 376.5051942642811T 1920 141.32293927545027L 1920 0 Z;M0 0L 0 782.0118384610068Q 320 727.3267836497654  640 694.0476176759635T 1280 518.1545471640493T 1920 276.0053882957168L 1920 0 Z;M0 0L 0 844.0541574423102Q 320 623.0697081316591  640 592.8483890737847T 1280 469.85448734523794T 1920 190.81850676853674L 1920 0 Z">
            </animate>
          </path>
        </g>
      </svg>

      <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <a href="#file">
          <div class="text-center text-gray-800">
            <div class="block rounded-lg shadow-lg px-6 py-12 md:py-16 md:px-12"
              style="margin-top: 180px; background-color:rgb(220, 252, 231);backdrop-filter: saturate(200%) blur(25px);">
              <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">Upload Your image<br /><span
                  class="text-green-600">and find the disease</span></h1>
            </div>
          </div>
        </a>
      </div>

    </section>
    <section style="background-color: black;" class="text-grey-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h1 style="color: azure; filter: brightness(300);"
            class="sm:text-3xl text-4xl font-medium text-center title-font text-gray-900 mb-4">Why there is a need for
            disease detection?</h1>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-green-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="text-green-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Rapid and early detection of diseases. with photos.</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-green-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="text-green-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Accurate identification of diseases, including hard-to distinguish
                symptoms.</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-green-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="text-green-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Reduced reliance on manual inspections.</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div class="bg-green-100 rounded flex p-4 h-full items-center">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
                class="text-green-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">Improved resource allocation and targeted treatment.</span>
            </div>
          </div>

        </div>
    </section>

    <section id="upload" style="background-color: black; height: fit-content;" class="text-gray-600 body-font">
      <form action="/" method="post" enctype="multipart/form-data">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <!-- <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-auto w-auto"
                  src="{{ url_for('static', filename='leaf.png') }}">
              </div> -->
              <label style="color: azure;" for="data_from_file" id="file"
                class="title-font text-2xl font-medium text-white-900 mt-6 mb-3">Select Image</label>
              <div class="flex justify-center">
                <label for="data_from_file"
                  class="flex mx-auto mt-6 text-black bg-green-200 border-0 py-2 px-5 focus:outline-none hover:bg-green-400 rounded cursor-pointer">
                  <input type="file" name="file" accept="image/*">
                </label>
              </div>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <!-- <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full"
                  src="{{ url_for('static', filename='fruits.png') }}">
              </div> -->
              <label style="color: azure;" class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Select Fruit
              </label>
              <select id="dropdown_data" name="dropdown_data"
                class="flex mx-auto mt-6 text-black bg-green-200 border-0 py-2 px-10 focus:outline-none hover:bg-green-400 rounded cursor-pointer"
                aria-labelledby="dropdownDefaultButton">
                <option value="apple">Apple</option>
                <option value="bellpepper">Bell Pepper</option>
                <option value="cherry">Cherry</option>
                <option value="corn">Corn</option>
                <option value="grape">Grape</option>
                <option value="peach">Peach</option>
                <option value="potato">Potato</option>
                <option value="strawberry">Strawberry</option>
                <option value="tomato">Tomato</option>
              </select>
            </div>
          </div>
        </div>
        <input type="submit"
          class="flex mx-auto mt-6 text-black bg-green-200 border-0 py-2 px-5 focus:outline-none hover:bg-green-400 rounded"
          value="Upload and Predict">
      </form>

      {% if prediction %}

      <div class="container mx-auto px-6 md:px-24 xl:px-64">
        <div class="block rounded-lg shadow-lg px-6 py-12 md:py-16 md:px-12"
          style="margin-top: 100px; text-align: center; background-color:rgb(220, 252, 231);backdrop-filter: saturate(200%) blur(25px); ">
          <div class="flex-auto relative">
            {% if uploaded_image %}
            <img src="{{ url_for('uploaded_file', filename=uploaded_image) }}" style="display: block; margin-left: auto; margin-right: auto; width: 30%; border-radius: 10px;">
            {% endif %}
          </div>
          <div style="margin-top: 8%;"
            class="text-5xl md:text-6xl xl:text-5xl font-bold tracking-tight mb-12 text-green-600">
            Prediction: {{ prediction}}
          </div>
          
          <div style="margin-top: 8%;"
            class="text-4xl md:text-5xl xl:text-4xl tracking-tight mb-12 text-green-500">
            {% if symptoms_gen %}
            Symptoms: {{ symptoms_gen}}
            {% endif %}
          </div>

          <div style="margin-top: 8%;"
            class="text-4xl md:text-5xl xl:text-4xl tracking-tight mb-12 text-green-500">
            {% if remedies_gen %}
            Remedies: {{ remedies_gen}}
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </section>
    <div style="background-color: black;">
      <br><br>
    </div>
  </div>

</body>

</html>